<html>
<head>
<%= stylesheet_link_tag "groups.scss" %>
<%= stylesheet_link_tag "application.scss" %>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

</head>
<body>

<div class="container-fluid">



			<div class="row">
			  <div class="col-md-6"><h4><strong>John A. Hopper / Web Developer</strong></h4></div>

			  <div class="col-md-6">

			     <ul>
					   <li><a href=
				        "/groups">Home</a></li>
					   <li><a href="/about">About</a></li>
					   <li><a href="/projects">Projects</a></li>
					   <li><a href="/resume">Resume</a></li>
					   <li><a href="/contact">Contact</a></li>
					   </ul>
			  	


			  </div>
			 
			  

			 <!-- End Row --> 
			</div>

		  <section id="info-section">
			<div class="row">

      <p><strong>Welcome, </strong><%= @user.first_name %></p>
     
      <p><a href="/logout"><em>logout</em></a></p>
</div>
</section>


<section id="project-section">
<h3><strong>Projects</strong></h3>
<h5><strong>Currently Under Construction</strong></h5>

<ul>
  <li>Supergroups</li>
  <li>Rene Mejia</li>
  <li>Veronica Adams</li>
  <li>User Dashboard</li>
  <li>Product Dashboard</li>
  <li>John A. Hopper / Web Developer</li>

</ul>
</section>


        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; John Allen Hopper 2017</p>
                    <p>Webmaster & Designer <a href="johnallenhopper.herokuapp.com">John A. Hopper</a></p>
                </div>
            </div>
        </footer>


        </div>
        </body>
        </html>