// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



span{
   margin:10px;
}

.panel label{
  width: 100px;
  text-align: left;
  float: left;
  display: inline-block;
  clear: left;	
  margin: 5px;
}

.panel input {
	width: 100%;
}

.panel li{
   list-style-type: none; 
}



textarea{
	width: 100%;
}


.navbar-header{
	height: 75px;
}

label {
	 
	clear: left;  
	text-align: right;
}
.header{
	background-color: black;
	width: auto;
	height: 50px;
}

.container .col-md-4 .panel{
	margin-top: 16px;
}


a input{
	background-color:white;
	border: none;
	float: left; 
	clear: left;
	text-align: left;

}



container .panel {
	display: inline-block; 
}

.col-md-4{
	display: inline-block;
}


.col-md-4 input{
	display: inline-block;
}

.btn{
	width: 100px; 
}


