// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



label{
    display: inline-block;
    width: 100px; 
    float: left;
    clear: left;
    text-align: right;
}
.panel input {
  display: inline-block;
  width: 100%;	

}

h2{
	margin:0px;
}

.container .col-md-4{
	display:inline-block;
}

.btn{
	margin: 10px;
}

body {
	background-color: #b5fed0;
}